<template>
  <nuxt-link to="/">
    <v-img
      class="logo"
      src="/logo.png">
    </v-img>
  </nuxt-link>
</template>

<style lang="scss">
.logo {
  max-height: 50px;
  max-width: 50px;
  animation: turn 3.5s ease-out forwards 1s;
}
</style>
