<template>
  <v-menu
    v-model="menu"
    :close-on-content-click="false"
    bottom
    >
    <template v-slot:activator="{ on }">
      <v-text-field
        v-on="on"
        :value="$store.state.dates.date"
        label="Текущая дата:"
        readonly
      ></v-text-field>
    </template>
    <v-date-picker
      v-model="date"
      @change="menuDate = false"
      locale="ru-ru"
      full-width
      :landscape="$vuetify.breakpoint.smAndUp"
      color="green darken-1"
      >
      <v-btn
        block
        color="green darken-1"
        style="color: white;"
        @click="menu = !menu"
        >
        Выбрать</v-btn>
    </v-date-picker>
  </v-menu>
</template>

<script>
export default {
  data: () => ({
    menu: false
  }),
  computed: {
    date: {
      get: function () {
        this.setDate(this.$store.state.dates.date)
        this.textDate = this.$store.state.dates.date
        return this.$store.state.dates.date
      },
      set: function (newDate) {
        this.setDate(newDate)
      }
    }
  },
  methods: {
    setDate (date) {
      this.$store.dispatch('dates/setDate', date)
    },
    async getYear () {
      // await this.$store.dispatch('bazi/getYear', 2020)
    }
  }
}
</script>

<style lang="scss">
</style>
