<template>
  <v-list nav>
    <v-list-item
      v-for="item in items"
      :key="item.title"
      :to="item.to"
      link
    >
      <v-list-item-icon>
        <v-icon>{{ item.icon }}</v-icon>
      </v-list-item-icon>

      <v-list-item-content>
        <v-list-item-title>
          {{ item.title }}
        </v-list-item-title>
      </v-list-item-content>
    </v-list-item>
  </v-list>
</template>

<script>
export default {
  data: () => ({
    items: [
      { icon: 'mdi-apps', title: 'Главная', to: '/' },
      { icon: 'mdi-apps', title: 'День', to: '/day' },
      { icon: 'mdi-apps', title: 'Месяц', to: '/month' },
      { icon: 'mdi-apps', title: 'Год', to: '/year' }
    ]
  })
}
</script>

<style lang="scss">
.v-list-item--link {
  color: green !important;
}
</style>
