<template>
  <v-menu
    v-if="!$auth.loggedIn"
    v-model="menu"
    :close-on-content-click="false"
    :nudge-wudth="200"
    offset-y
    left
    >
    <template v-slot:activator="{ on }">
      <v-btn icon v-on="on">
        <v-icon>mdi-lock</v-icon>
      </v-btn>
    </template>
    <Login/>
  </v-menu>
  <v-menu
    v-else
    v-model="menu"
    :close-on-content-click="false"
    :nudge-wudth="200"
    offset-y
    left
    >
    <template v-slot:activator="{ on }">
      <v-btn icon v-on="on">
        <v-icon>mdi-account</v-icon>
      </v-btn>
    </template>
    <v-card class="pa-1 ma-1">
      <v-card-title>
        {{ $auth.user.firstName }}
      </v-card-title>
      <v-container>
        С возвращением, {{ $auth.user.username }}
      </v-container>
      <v-btn block dark color="green darken-1" @click="logout()">
        Выйти
      </v-btn>
    </v-card>
  </v-menu>
</template>



<script>
import Login from '~/components/user/Login'

export default {
  data: () => ({
    show: false,
    username: 'qweqwe',
    password: 'qweqwe',
    error: null
  }),
  methods: {
    async logout () {
      try {
        await this.$auth.logout()
        // this.$router.push('/')
      } catch (e) {
        this.error = e.response.data.message
      }
    }
  },
  computed: {
    menu: {
      get () {
        return this.$store.state.view.user
      },
      set (value) {
        this.$store.dispatch('view/USER')
      }
    }
  },
  components: {
    Login
  }
}
</script>
