<template>
  <v-card class="pa-1 ma-1">
    <v-card-title>
      Вход
    </v-card-title>
    <v-container>
      <v-row>
        <v-text-field
          label="Имя пользователя"
          v-model="username"
        ></v-text-field>
      </v-row>

      <v-row>
        <v-text-field
          v-model="password"
          :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
          :type="show ? 'text' : 'password'"
          name="pwd"
          label="Пароль"
          counter
          @click:append="show = !show"
        ></v-text-field>
      </v-row>
    </v-container>

    <v-card-actions>
      <v-btn dark color="green darken-1" @click="login()">Вход</v-btn>
      <v-btn dark color="green darken-1" @click="$store.dispatch('view/USER')" to="/user/signup">Регистрация</v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
  data: () => ({
    show: true,
    username: 'qweqwe',
    password: 'qweqwe',
    error: null
  }),
  methods: {
    async login () {
      try {
        await this.$auth.loginWith('local', {
          data: {
            username: this.username,
            password: this.password
          }
        })
      } catch (e) {
        this.error = e.response.data.message
      }
    }
  }
}
</script>
