<template>
  <v-card>
    <v-container>
      <v-layout row>
        <v-text-field
        label="Имя пользователя"
        v-model="username"
      ></v-text-field>
      </v-layout>

      <v-layout row>
        <v-text-field
        label="email"
        v-model="email"
      ></v-text-field>
      </v-layout>

      <v-layout row>
        <v-text-field
          v-model="password"
          :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
          :type="show ? 'text' : 'password'"
          name="pwd"
          label="Пароль"
          counter
          @click:append="show = !show"
        ></v-text-field>
      </v-layout>
    </v-container>
    <v-card-actions>
      <v-btn color="green lighten-3" @click="register()">Зарегистрироваться</v-btn>
      <v-btn color="green lighten-3" to="/">Отмена</v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
  data: () => ({
    show: false,
    username: 'qwe',
    email: 'qwe@qwe.qwe',
    password: 'qwe',
    error: null
  }),
  methods: {
    async register () {
      try {
        await this.$axios.post('/users/register', {
          username: this.username,
          email: this.email,
          password: this.password
        })
        await this.$auth.loginWith('local', {
          data: {
            username: this.username,
            password: this.password
          }
        })
      } catch (e) {
        this.error = e.response.data.message
      }
    }
  }
}
</script>
