html {
  overflow: hidden !important;
}

* {
  // font-family: 'Roboto', sans-serif;
  font-family: 'Noto Sans', sans-serif;
}

.page-enter-active, .page-leave-active {
  transition: opacity .3s
}
.page-enter, .page-leave-active {
  opacity: 0
}
