<template>
  <v-app>
    <v-navigation-drawer
      v-model="drawer"
      temporary
      app
      >
      <Navigation/>
    </v-navigation-drawer>

    <v-app-bar
      app
      >
      <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>
      <v-toolbar-title>
        <AppLogo/>
      </v-toolbar-title>
      <v-spacer/>
      <UserMenu/>
    </v-app-bar>

    <v-content>
      <v-card
        class="mt-2"
        >
        <v-toolbar text class="pt-5">
          <DateMenu/>
        </v-toolbar>
        <v-divider></v-divider>
        <nuxt/>
      </v-card>
    </v-content>
  </v-app>
</template>

<script>
import AppLogo from '~/components/header/AppLogo'
import UserMenu from '~/components/header/UserMenu'
import DateMenu from '~/components/header/DateMenu'
import Navigation from '~/components/header/Navigation'

export default {
  data: () => ({
    drawer: false,
    items: [
      { icon: 'mdi-apps', title: 'День', to: '/' },
      { icon: 'mdi-apps', title: 'Месяц', to: '/month' },
      { icon: 'mdi-apps', title: 'Год', to: '/year' }
    ]
  }),
  components: {
    AppLogo,
    UserMenu,
    DateMenu,
    Navigation
  }
}
</script>

<style lang="scss">
</style>
