<template>
  <v-container fluid class="pa-0 ma-0">
    <v-row justify="center" align="start">
      <v-col xs="12" md="6">
        <Options/>
      </v-col>
    </v-row>
    <v-row>
      <Bazi/>
    </v-row>
  </v-container>
</template>

<script>
import Options from '~/components/bazi/Options'
import Buttons from '~/components/bazi/Buttons'
import Bazi from '~/components/bazi/Bazi'

export default {
  async fetch ({ store }) {
    await store.dispatch('bazi/getYear', 2020)
  },
  components: {
    Options,
    Buttons,
    Bazi
  }
}
</script>
