<template>
  <v-container fluid>
    <v-row justify="space-between" align="start" class="text-center">
      <!-- <v-col xs="3">
        Час -{{ $store.state.dates.hour }}
      </v-col> -->
      <v-col xs="3">
        День - <br>{{ $store.state.dates.day }}
      </v-col>
      <v-col xs="3">
        Месяц - {{ $store.state.dates.month }}
      </v-col>
      <v-col xs="3">
        Год - {{ $store.state.dates.year }}
      </v-col>
    </v-row>
    <v-row justify="space-between" align="start" class="text-center">
      <!-- <Jiazi v-bind:jiazi="$store.state.bazi.year.days[0]"/> -->
      <Jiazi v-bind:jiazi="baziDay"/>
      <Jiazi v-bind:jiazi="baziMonth"/>
      <Jiazi v-bind:jiazi="baziYear"/>
    </v-row>
    <v-row justify="space-between" align="center" class="pl-2">
      <!-- <Buttons v-bind:type="'h'"/> -->
      <Buttons v-bind:type="'d'"/>
      <Buttons v-bind:type="'m'"/>
      <Buttons v-bind:type="'y'"/>
    </v-row>
  </v-container>
</template>

<script>
import {
  mapState,
  mapActions
} from 'vuex'
import Jiazi from '~/components/bazi/Jiazi'
import Buttons from '~/components/bazi/Buttons'

export default {
  methods: {
    ...mapActions({
      getYear: 'bazi/getYear',
      changeBaziMonth: 'bazi/changeBaziMonth'
    })
  },
  watch: {
    year (val) {
      console.log('year changed')
    }
  },
  computed: {
    ...mapState({
      day: state => state.dates.day,
      month: state => state.dates.month,
      year: state => state.dates.year,
      monthStarts: state => state.bazi.monthStarts
    }),
    baziDay () {
      return this.$store.state.bazi.days[this.$store.state.dates.day - 1]
    },
    baziMonth () {
      let monthStart = this.monthStarts.days[this.month - 1]
      if (this.day < monthStart) {
        return this.$store.state.bazi.months[this.month - 1]
      }
      return this.$store.state.bazi.months[this.month]
    },
    baziYear () {
      let monthStart = this.monthStarts.days[this.month - 1]
      if (this.month > 1 && this.day > monthStart) {
        return this.$store.state.bazi.year
      }
      return this.$store.state.bazi.prevYear
    }
  },
  components: {
    Jiazi,
    Buttons
  }
}
</script>

<style lang="scss">
</style>
