<template>
  <v-col>
    <div class="text-center">
      {{ branch.glyph }}
    </div>
    <div class="text-center">
      {{ branch.name }}
    </div>
    <div class="text-center" v-if="$store.state.view.skdg">
      {{ branch.skdg }}
    </div>
  </v-col>
</template>

<script>
export default {
  data: () => ({
  }),
  props: ['branch']
}
</script>

<style lang='scss'>
.glyph {
  font-size: 25px;
}
.skdg {
  font-size: 25px;
}
</style>
