<template>
  <v-col xs="2">
    <v-row justify="center" align="center" no-gutters>
      <v-col xs="5">
        <button icon class="btn" @click="prev">
          <v-icon>mdi-arrow-down</v-icon>
        </button>
      </v-col>
      <v-col xs="5">
        <button icon class="btn" @click="next">
          <v-icon>mdi-arrow-up</v-icon>
        </button>
      </v-col>
    </v-row>
  </v-col>
</template>

<script>
export default {
  props: ['type'],
  data: () => ({
    yyear: { year: 0 },
    time: 0,
    times: ['00 - 01', '01 - 03', '03 - 05', '05 - 07', '07 - 09', '09 - 11', '11 - 13',
      '13 - 15', '15 - 17', '17 - 19', '19 - 21', '21 - 23', '23 - 00']
  }),
  methods: {
    prev () {
      switch (this.type) {
        case 'h':
          this.prevHour()
          break
        case 'd':
          this.prevDay()
          break
        case 'm':
          this.prevMonth()
          break
        case 'y':
          this.prevYear()
          break
      }
    },
    next () {
      switch (this.type) {
        case 'h':
          this.nextHour()
          break
        case 'd':
          this.nextDay()
          break
        case 'm':
          this.nextMonth()
          break
        case 'y':
          this.nextYear()
          break
      }
    },
    nextDay () {
      this.$store.dispatch('dates/nextDay')
    },
    nextMonth () {
      this.$store.dispatch('dates/nextMonth')
    },
    nextYear () {
      this.$store.dispatch('dates/nextYear')
    },
    prevDay () {
      this.$store.dispatch('dates/prevDay')
    },
    prevMonth () {
      this.$store.dispatch('dates/prevMonth')
    },
    prevYear () {
      this.$store.dispatch('dates/prevYear')
    },
    nextHour () {
      if (this.time === 12) {
        this.$store.dispatch('dates/nextDay')
        this.time = 0
      } else {
        this.time++
      }
    },
    prevHour () {
      if (this.time === 0) {
        this.$store.dispatch('dates/prevDay')
        this.time = 12
      } else {
        this.time--
      }
    }
  }
}
</script>

<style lang="scss">
.btn {
  touch-action: manipulation;
  width: 7vw;
  border: 1px solid rgb(186, 237, 182);
  opacity: 0.8;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #ffffff;
  background-color: rgb(130, 200, 130);
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #999;
  &:hover, &:focus {
    background-color: rgb(186, 237, 182);
    opacity: 1.0;
  }
  &:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px)
  }
}
</style>
