<template>
  <v-col class="elevation-1">
    <v-row>
      <Stem v-bind:stem="jiazi.stem"/>
    </v-row>
    <v-row>
      <Branch v-bind:branch="jiazi.branch"/>
    </v-row>
  </v-col>
</template>

<script>
import Branch from '~/components/bazi/Branch'
import Stem from '~/components/bazi/Stem'

export default {
  props: ['jiazi'],
  components: {
    Branch,
    Stem
  }
}
</script>

<style lang='scss'>
.glyph {
  font-size: 20px;
}
</style>
