<template>
  <v-dialog v-model="dialog" scrollable max-width="300px">
    <template v-slot:activator="{ on }">
      <v-btn color="green lighten-2" block dark v-on="on">Опции отображения</v-btn>
    </template>
    <v-card>
      <v-card-title>Выберите нужные опции</v-card-title>
      <v-divider></v-divider>
      <v-card-text style="height: 300px;">
        <v-checkbox
          v-model="skdg"
          color="green darken-1"
          :label="`Шуэнкун Дагуа`"
          ></v-checkbox>
        <v-checkbox
          v-model="cols"
          color="green darken-1"
          :label="`Столкновения`"
          ></v-checkbox>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions>
        <v-btn color="green darken-1" text block @click="dialog = false">Закрыть</v-btn>
        <!-- <v-spacer/>
        <v-btn color="green darken-1" flat @click="commit">Применить</v-btn> -->
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  data: () => ({
    dialog: false
  }),
  computed: {
    skdg: {
      get () {
        return this.$store.state.view.skdg
      },
      set (value) {
        this.$store.dispatch('view/SKDG')
      }
    },
    cols: {
      get () {
        return this.$store.state.view.cols
      },
      set (value) {
        this.$store.dispatch('view/COLS')
      }
    }
  }
}
</script>
